# dependencies
node_modules/
node_modules*/

# Expo / build output
.expo/
dist/
web-build/

# env & secrets
.env
.env.local
.env*.local
!/.env.example

# OS / IDE
.DS_Store
*.pem

# turbo cache
.turbo/

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
